@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  background: linear-gradient(to left, #2f323e, #525667);
}

li{
  list-style: none;
}